<h1>Create new user</h1>

<% if @user.errors.any? %>
  <div id="error-explanation">
    <div id="error-intro">
      <%= "Something went wrong!" %>
    </div>
    <ul class='errors-list'>
      <% @user.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id='dev-form'>

</div>

<div id='org-form'>

</div>
