<div>
  <h2 class='page-title'>Our Mission</h2>
  <p class='mission'>
    Provide a platform through which web developers can give back to the community by bringing non-profit visions to life.
  </p>
  <div class='mission-expand'>
    There is no doubt that tech industry has had a huge impact on society, not only here in Seattle, but throughout the world. Our mission is to provide a platform through which web developers can volunteer their time, experience, and skills, so that they can give back to their communities. This is a place for all non-profit organizations to come forward with their project ideas, so that we, as members of the tech industry, can help make those dreams and visions a reality. <br />

    <div class='mission-end'>
      >> Let's change the world together! <<
    </div>

  </div>
  <div>
    <h2 class='page-title'>How to Use this Website</h2>
    <h3 class='interior-title'>As a Developer</h3>
      <ul>
        <li> note: the organization you sign up for may choose to offer you a nominal fee, but remember, you are here to volunteer! </li>
        <li> sign up as a developer </li>
        <li> choose a project to work on </li>
        <li> submit your project proposal </li>
        <li> keep an eye on your account page and your email to see whether your proposal has been chosen!</li>
        <li> happy coding! :) </li>
      </ul>
    <h3 class='interior-title'>As a Non-Profit Organization</h3>
      <ul>
        <li> sign up as an organization </li>
        <li> submit your project idea </li>
        <li> keep an eye out on your accounts page and your email to see if any proposals have been submitted </li>
        <li> accept a proposal </li>
        <li> if you are able to contribute a nominal fee, you may choose to do so!</li>
        <li> contact/meet with the developer to bring your visions to life! </li>
      </ul>
  </div>
  <div>
    <h3 class='interior-title'>About the Creators</h3>
    <p>
      (In alphabetical order...) <%= link_to 'Cassi', "http://www.linkedin.com/in/cassigallagher"%>, <%= link_to 'Grace', "http://www.linkedin.com/in/gracejhnoh" %>, <%= link_to 'Jarred', "http://www.linkedin.com/in/jarredtaylor" %>, and <%= link_to 'Jorge', "http://www.linkedin.com/in/jorgeacl" %> are alumni of Dev Bootcamp, Seattle. 
    </p>
  </div>
</div>
