<div>
  <h1>Our Mission:</h1>
  <p>
    Provide a platform through which developers can give back to the community by bringing non-profit visions to life.
  </p>
  <div>
    So, what exactly does this mean?
  </div>
</div>
