<h2>All Projects</h2>
<ol>
  <% @projects.each do |project| %>
    <li>
      <div> <%= link_to(project.title, project_path(project))  %> </div>
      <div> <%= project.description %> </div>
    </li>
  <% end %>
</ol>
