<h2>All Projects</h2>
<% if logged_in? && current_user.user_type == 'org' %>
  <%= link_to('Create a New Project', new_project_path) %>
<% end %>
<ol>
  <% @projects.each do |project| %>
    <li>
      <div> <%= link_to(project.title, project_path(project))  %> </div>
      <div> <%= project.description %> </div>
    </li>
  <% end %>
</ol>
