<div id="error-explanation">
  <div id="error-intro">
    <%= "Something went wrong!" %>
  </div>
  <ul class='errors-list'>
    <% @proposal.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
</div>
