.container {
  margin: 0 auto;
  width: 70%;
}

div {
  font-family: sans-serif;
}

.logo{
  text-align: center;
  padding: 10px;
  border: 7px cornflowerblue double;
  width: 50%;
  margin: 10% auto;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.mission {
  text-align: center;
}
