<!DOCTYPE html>
<html>
  <head>
    <title>Devs4Good</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Projects</a>
        <a href="#">Logout</a>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
      </nav>
    </header>
    </header>
    <%= yield %>
  </body>
</html>
